    <nav id="topNavFixedBg" class="navbar navbar-default navbar-fixed-top" style="background-color:#222222">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><i class="ion-ios-analytics-outline"></i> Insenly </a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/insenly-about">About</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="/insenly-services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/insenly-portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/insenly-blog">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/insenly-contact">Contact</a>
                    </li>
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </nav>

<!--
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i> Landing Zero</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">Highlights</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#four">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
                      <span class="sr-only"></span> 
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><h1 id="navbarBrand" style="margin-top:-5px;color:#EC614D"> Insenly </h1></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul class="nav navbar-nav navbar-right" id="navbarUl">

                     <li>
                        <div class="col-md-2">
                        <div class="navigation" id="nav">
                        <div class="item home">
                            <img src="images/bg_user.png" alt="" width="199" height="199" class="circle"/>
                            <a href="/" class="icon" id="navIconId"></a>
                            <h2>HOME</h2>
                            
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        
                           </div>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-2">
                        <div class="navigation" id="nav">
                        <div class="item about">
                            <img src="images/bg_shop.png" alt="" width="199" height="199" class="circle"/>
                            <a href="/about" class="icon" navIconId></a>
                            <h2>ABOUT</h2>
                            
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                            
                           </div>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-2">
                        <div class="navigation" id="nav">
                        <div class="item portfolio">
                            <img src="images/bg_fav.png" alt="" width="199" height="199" class="circle"/>
                            <a href="/portfolio" class="icon"></a>
                            <h2>PORTFOLIO</h2>
                            
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                            
                           </div>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-2">
                        <div class="navigation" id="nav">
                        <div class="item services">
                            <img src="images/bg_user.png" alt="" width="199" height="199" class="circle"/>
                            <a href="/services" class="icon"></a>
                            <h2>SERVICES</h2>
                            
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                            
                           </div>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-2">
                        <div class="navigation" id="nav">
                        <div class="item blog">
                            <img src="images/bg_user.png" alt="" width="199" height="199" class="circle"/>
                            <a href="/blog" class="icon"></a>
                            <h2>BLOG</h2>
                            
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                            
                           </div>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-2">
                        <div class="navigation" id="nav">
                        <div class="item contact">
                            <img src="images/bg_user.png" alt="" width="199" height="199" class="circle"/>
                            <a href="/contact" class="icon"></a>
                            <h2>CONTACT</h2>
                            
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                            
                           </div>
                        </div>
                        </div>
                    </li>
              <ul>      
         </div>
        </div>
    </nav>
    -->