<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Insenly, A perfect digital marketing solution</title>
    <link rel="canonical" href="http://www.insenly.com/">
    <% include partials/bubbleHead.ejs %>
  </head>
  <body>
    <% include partials/homepageNavigation.ejs %>
    <link rel="stylesheet" type="text/css" href="youtubePlayer/ytbgnav.css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://www.youtube.com/player_api"></script>
    
     <!-- Youtube Bg Video -->
    <div class="top_box">
        <div class="btn_vol on"></div>
        <div id="player"></div>
    </div>

    <!-- popup -->
    <div class="pop_yt" style="display:none">
        <div class="close"></div>
        <iframe width="960" height="540" src="" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="pop_overlay" ></div>
    
    <style>
        .top_box{
            position:relative;width:auto;height:103%;overflow:hidden;margin-top:-30px
        }

        @media(min-width:768px) {
             .top_box{
            position:relative;width:auto;height:103%;overflow:hidden;margin-top:-10px
             }
        }
    </style>
    <script>
        // YouTube ID
        var bgID = ["q6f-LLM1H6U","qEYOyZVWlzs","R1-BTf3_Mys","N5wzkQvzp4c","9ZC4sPxMQ_M"];
        var popID = ["56hGcCt0NuU","srK7Vj5p9Tg","18fSsOulNYw","cSxrDMADfJA","bhKFSXN2Fr4"];
    </script>

    <script src="youtubePlayer/ytbgnav.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>


 <!--    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive wow flipInX">Insenly</h1>
                <h4>A perfect Digital Marketing Solution for your product</h4>
                <hr> -->
                <!-- <a href="#video-background" id="toggleVideo" data-toggle="collapse" class="btn btn-primary btn-xl">More Video</a> &nbsp;  -->
                <!-- <a href="#one" class="btn btn-primary btn-xl page-scroll">Get Started</a> -->
           <!--  </div>
        </div>
        <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="" id="video-background"> -->
            <!-- <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser. -->
     <!--        <source src="videos/cableCar.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </header> -->

    <section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h2 class="margin-top-0 text-primary">Built On The Bootstrap Grid</h2>
                    <br>
                    <p class="text-faded">
                        Bootstrap's responsive grid comes in 4 sizes or "breakpoints": tiny (xs), small(sm), medium(md) and large(lg). These 4 grid sizes enable you create responsive layouts that behave accordingly on different devices.
                    </p>
                    <a href="#three" class="btn btn-default btn-xl page-scroll wow fadeIn">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <section id="two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Flexible Layouts</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-android-laptop wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Responsive</h3>
                        <p class="text-muted">Your site looks good everywhere</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-social-sass wow fadeInUp" data-wow-delay=".2s"></i>
                        <h3>Customizable</h3>
                        <p class="text-muted">Easy to theme and customize with SASS</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-ios-star-outline wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Consistent</h3>
                        <p class="text-muted">A mature, well-tested, stable codebase</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_01.png">
                        <img src="img/portfolio/portfolioPic_01.png" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_02.png">
                        <img src="img/portfolio/portfolioPic_02.png" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_03.png">
                        <img src="img/portfolio/portfolioPic_03.png" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_04.png">
                        <img src="img/portfolio/portfolioPic_04.png" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_05.png">
                        <img src="img/portfolio/portfolioPic_05.png" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_06.png">
                        <img src="img/portfolio/portfolioPic_06.png" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               
        </div>
    </section>
    <section class="container-fluid" id="four">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <h2 class="text-center text-primary">Features</h2>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Simple</h3>
                    <div class="media-body media-middle">
                        <p>What could be easier? Get started fast with this starter theme.</p>
                    </div>
                    <div class="media-right">
                        <i class="icon-lg ion-ios-bolt-outline"></i>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeIn">
                    <h3>Free</h3>
                    <div class="media-left">
                        <i class="icon-lg ion-ios-cloud-download-outline"></i>
                    </div>
                    <div class="media-body media-middle">
                        <p>Yes, please. Grab it for yourself, and make something awesome.</p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Unique</h3>
                    <div class="media-body media-middle">
                        <p>Because you don't want your site, to look like a Bootstrap site.</p>
                    </div>
                    <div class="media-right">
                        <i class="icon-lg ion-ios-snowy"></i>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeIn">
                    <h3>Popular</h3>
                    <div class="media-left">
                        <i class="icon-lg ion-ios-heart-outline"></i>
                    </div>
                    <div class="media-body media-middle">
                        <p>There's good reason why Bootstrap is the most used frontend framework.</p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Tested</h3>
                    <div class="media-body media-middle">
                        <p>Bootstrap is mature and stable codebase that provides consistency.</p>
                    </div>
                    <div class="media-right">
                        <i class="icon-lg ion-ios-flask-outline"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="text-primary">Get Started</h2>
                <a href="http://www.bootstrapzero.com/bootstrap-template/landing-zero-free-bootstrap-theme" target="ext" class="btn btn-default btn-lg wow flipInX">Free Download</a>
            </div>
            <br>
            <hr/>
            <br>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <h6 class="wide-space text-center">BOOTSTRAP IS BASED ON THESE STANDARDS</h6>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-html5-outline" title="html 5"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-sass" title="sass"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-javascript-outline" title="javascript"></i>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="icon-lg ion-social-css3-outline" title="css 3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
      <section id="last">
    <div class="form-group" id="contactForm">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                    <hr class="primary">
                    <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row" id="contact_form">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Name" name="name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Email" name="email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Phone" name="phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" placeholder="Your message here.." name="text"></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button id="js_send" type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
     <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
                <p>
                    <br/>
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
        </div>
    </div>

    <script>
            //update this with your js_form selector
            var form_id_js = "contact_form";

            var data_js = {
                "access_token": "4mtgis42qd9kanucbkb49tub" // sent after you sign up
            };

            function js_onSuccess() {
                // remove this to avoid redirect
                window.location = window.location.pathname + "?message=Email+Successfully+Sent%21&isError=0";
            }

            function js_onError(error) {
                // remove this to avoid redirect
                window.location = window.location.pathname + "?message=Email+could+not+be+sent.&isError=1";
            }

            var sendButton = document.getElementById("js_send");

            function js_send() {
                sendButton.value='Sending…';
                sendButton.disabled=true;
                var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200) {
                        js_onSuccess();
                    } else
                    if(request.readyState == 4) {
                        js_onError(request.response);
                    }
                };

                var name = document.querySelector("#" + form_id_js + " [name='name']").value;
                var email = document.querySelector("#" + form_id_js + " [name='email']").value;
                var phone = document.querySelector("#" + form_id_js + " [name='phone']").value;
                var message = document.querySelector("#" + form_id_js + " [name='text']").value;

                if (name == null || name == "") {
                  sendButton.disabled = false;
                  $('#modal1').modal('show');
                    return false;
                 }

                 if (email == null || email == "") {
                  sendButton.disabled = false;
                  $('#modal1').modal('show');
                    return false;
                 }

                 if (phone == null || phone == "") {
                  sendButton.disabled = false;
                  $('#modal1').modal('show');
                    return false;
                 }

                 if (message == null || message == "") {
                  sendButton.disabled = false;
                  $('#modal1').modal('show');
                    return false;
                 }

               /* var subject = document.querySelector("#" + form_id_js + " [name='subject']").value;
                var message = document.querySelector("#" + form_id_js + " [name='message']").value;
                */
                
                // Subject must have some texts , otherwise can't send email
                data_js['subject'] = "Subject : ";
                data_js['text'] = " NAME : "+ name + " , EMAIL : " + email + ", PHONE : " + phone + " , MESSAGE : " + message;
                var params = toParams(data_js);

                request.open("POST", "https://postmail.invotes.com/send", true);
                request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                request.send(params);

                return false;
            }

            sendButton.onclick = js_send;

            function toParams(data_js) {
                var form_data = [];
                for ( var key in data_js ) {
                    form_data.push(encodeURIComponent(key) + "=" + encodeURIComponent(data_js[key]));
                }

                return form_data.join("&");
            }

            var js_form = document.getElementById(form_id_js);
            js_form.addEventListener("submit", function (e) {
                e.preventDefault();
            });
        </script>
        </script>
    </div>
</div>

<!--For alerting user that the infos are not properly filled-->
<div class="modal fade" id="modal1" data-color="red">
        <div class="modal-content" id="modal1Content">
            <div class="modal-header" id="modalHeader">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="text-center" style="color:rgba(255,0,0,0.8)">INCORRECT INFORMATION</h4>
            </div>
            <div class="modal-body" id="modalBody">
                <h4 style="color:rgba(255,0,0,0.8)" class="text-center" style="font-style:italic"> Name, Email, Phone and Message fields can not be empty.<h4>
            </div>
            <div class="modal-footer" id="modalFooter">
                <div class="text-center">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
        </div>
 </div>

<!-- For youtube bg video -->
 <script>
        
 </script>

 <style type="text/css">
        
 </style>

    <!--<div class="container-fluid" id="imgDiv">-->
       <!--  <div>
        <img src="img/insenly01.png" class="homeImg" id="homeImg00">
        <img src="img/insenly02.png" class="homeImg" id="homeImg01"/>
        <img src="img/insenly03.png" class="homeImg" id="homeImg02"/>
        <img src="img/insenly04.png" class="homeImg" id="homeImg03"/>
        </div> -->

        <div class="container">
        <!-- class="text-center" aligns at the center of the screen-->
        </br></br>
        <!-- <h3 class="text-center">CLIENTS & RELATIONS</h3></br> -->
        </div>
       <!--  <img src="img/insenly05.png" class="homeImg" id="homeImg04"/> -->
    
        <% include partials/bubbleFooter.ejs %>
  </body>
</html>