<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<head>
  <% include partials/bubbleHead.ejs %>
  <title>Find more about Insenly works</title>
  <link rel="canonical" href="http://www.insenly.com/insenly-portfolio">

</head>

<body>
  <% include partials/bubbleNavigation.ejs %>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!--<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>-->
<!--
<div id="portfolioTopLine">
  <p style="color:transparent">Hi</p>
</div>
<style>.embed-container { position: relative; padding-bottom: 56.25%; margin-top: 0px; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: relative; top: 0; left: 0; width: 100%; height: 100%; }</style>

<div class='embed-container'>
  <iframe src='//www.youtube.com/embed/wuZCxNmek3o?autoplay=1' frameborder='0' allowfullscreen></iframe>
</div>

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'>
<iframe src='https://www.youtube.com/embed/f2REzI6hwQo?autoplay=0' frameborder='0' allowfullscreen>
</iframe>
</div>
-->

<div class="row" id="portfolioVideos">
  <div class="row">
    <div class="col-sm-6">
        <!-- <h2>4:3 Responsive Aspect Ratio</h2> -->
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wuZCxNmek3o?autoplay=1" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <!-- <h2>4:3 Responsive Aspect Ratio</h2> -->
        <div class="embed-responsive embed-responsive-4by3">
           <iframe class="embed-responsive-item" src="//www.youtube.com/embed/m4ZB6r8tfKI?autoplay=0" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>

    <style>
            /*Mobile is default now, mobile first, responsive is first*/
            #portfolioVideos{
                margin-top: 20px;
            }
            /*This is for desktop*/
            @media(min-width:992px) {
                #portfolioVideos{
                margin-top: 50px;
            }
            }
    </style>

</br>

<section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_01.png">
                        <img src="img/portfolio/portfolioPic_01.png" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_02.png">
                        <img src="img/portfolio/portfolioPic_02.png" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_03.png">
                        <img src="img/portfolio/portfolioPic_03.png" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_04.png">
                        <img src="img/portfolio/portfolioPic_04.png" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_05.png">
                        <img src="img/portfolio/portfolioPic_05.png" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="img/portfolio/portfolioPic_06.png">
                        <img src="img/portfolio/portfolioPic_06.png" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               
        </div>
    </section>

   <!-- Modal -->
  <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
      <iframe src="//www.youtube.com/embed/_Wo9JxLIQYg" allowfullscreen="" frameborder="0" height="315" width="100%"></iframe>      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

   <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
                <p>
                    <br/>
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
        </div>
    </div>

<script src="js/lightbox.js"></script>
<% include partials/bubbleFooter.ejs %>

</body>
</html>